# Data & Storage
data/
*.db
*.sqlite
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Spark & Hadoop Checkpoints
checkpoints/
.spark-staged/

# OS & IDE
.DS_Store
.idea/
.vscode/
*.swp

# Superset/Docker
.tempmediaStorage/
.gemini/